body{
    background-image: url("../images/flag.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-wrapper{
    background: lightgrey;
    margin-top: 10px;
    padding-bottom: 10px;
    border: solid 2px blue;
    min-height: 550px;
}

.centerBox{
    text-align: center;
}

.headerBox{
    margin-bottom: 40px;
}

.headerBox h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rulesBox h5{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.resultsBox h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.questionBox{
    margin-bottom: 40px;
}

#show-number{
    height: 50px;
}

#questionH{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.radio{
    font-family: 'Courier New', Courier, monospace;
}

#answerMessageH{
    text-transform: capitalize;
}

#answerPictureH{
    height: 100px;
    width: auto;
}